html {
    background-color: #363534;
    font-family:Arial, Helvetica, sans-serif
}
h1 {
    color: white;
    font-size: 60;
    position: fixed;
    top: 15%;
    left:31%;
}

p {
    color: white;
    position: fixed;
    top: 40%;
    left: 30%;
    font-size: 20;
}

a {
   color:lightslategrey ;
   position: fixed;
   top: 96%;
   left: 47%;
}